table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 3px 7px;
  text-align: center;
}

table thead tr {
  background-color: #f2d96e
}

table tbody tr:nth-child(odd){
  background-color: #fdf8e3
}

.pure-menu-link{
  background-color: #191818
}

th::after{
  content: "\25BD";
}
